@model ProductViewModel

@{
    ViewData["Title"] = "AddProduct";
}

<div asp-validation-summary="ModelOnly" class="alert alert-danger col-lg-4 offset-lg-4 col-sm-12" style="" padding:20px; border-radius:10px;box-shadow:0 0 10px rgba(0, 0, 0, 0.1);"></div>


<div class="container col-lg-4 offset-lg-4 col-sm-12 " style="padding:20px; border-radius:10px; background-color:rgb(128, 208, 199); box-shadow:0 0 10px rgba(0, 0, 0, 0.1);">

    <div class="row">

        <h1 class="text-center text-white mb-4">Ürün Ekle</h1>

        <form method="post" enctype="multipart/form-data" class="col-12 custom-form contact-form dropzone">

            <div class="form-floating mb-3">
                <input class="form-control mb-0" placeholder=" " id="Name" asp-for="Name" />
                <label class="form-label" asp-for="Name">Ürün Adı</label>
                <span asp-validation-for="Name" class="text-danger p-2" style="font-weight:bold;"></span>
            </div>

            <div class="form-floating mb-3">
                <textarea class="form-control mb-0" placeholder=" " id="Description" asp-for="Description"></textarea>
                <label class="form-label" asp-for="Description">Açıklaması</label>
                <span asp-validation-for="Description" class="text-danger p-2" style="font-weight: bold;"></span>
            </div>

            <div class="form-floating mb-3">
                <input class="form-control mb-0"placeholder=" " id="Price" asp-for="PriceText" />
                <label class="form-label" asp-for="PriceText">Fiyat</label>
                <span asp-validation-for="PriceText" class="text-danger p-2" style="font-weight: bold;"></span>
            </div>

            <div class="form-floating mb-3">
                <input class="form-control mb-0" placeholder=" " id="Stock" asp-for="Stock" />
                <label class="form-label" asp-for="Stock">Stok</label>
                <span asp-validation-for="Stock" class="text-danger p-2" style="font-weight: bold;"></span>
            </div>

            <div class="mb-3">
                <label class="form-label" asp-for="Images">Ürün Resmi :</label>
                <input class="form-control form-control-lg mb-0" type="file" multiple asp-for="Images" id="fileInput" />
                <span asp-validation-for="Images" class="text-danger p-2" style="font-weight: bold;" id="validationMessage"></span>
                <div class="text-center" id="imagePreview"></div>
            </div>

            <div class="form-floating mb-3">
                <select class="form-select rounded-5" asp-items="@TempData["categorySelectList"] as SelectList" asp-for="CategoryID" id="categoryList">
                    <option value="">Kategori Seç</option>
                </select>
                <label for="categoryList">Ürünün Kategorisini Seçiniz</label>
                <span asp-validation-for="CategoryID" class="text-danger p-2" style="font-weight: bold;"></span>
            </div>

            <div class="mb-3 w-50 mx-auto text-center">
                <button class="btn btn-outline-light w-100 mt-3" type="submit">Ürünü Oluştur</button>
                <a class="btn btn-outline-light w-100 mt-3 rounded-pill" asp-area="Admin" asp-controller="Product" asp-action="ProductList">Geri Dön</a>
            </div>

        </form>

    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial"></partial>

    <script type="text/javascript">

        const fileInput = document.getElementById('fileInput');
        const imagePreview = document.getElementById('imagePreview');
        const validationMessage = document.getElementById('validationMessage');

        fileInput.addEventListener("change", handleFileSelect);

        function handleFileSelect() {
            validationMessage.textContent = ''; // Hata mesajını temizle

            const files = Array.from(fileInput.files);

            // Dosya sayısını kontrol et
            if (files.length === 0) {
                validationMessage.textContent = 'Lütfen bir veya daha fazla dosya seçin.';
                return;
            }

            imagePreview.innerHTML = '';

            files.forEach(file => {
                const reader = new FileReader();

                reader.onload = function (e) {

                    const fileContainer = document.createElement('div');
                    fileContainer.classList.add('text-center', 'me-3', 'mb-3');
                    fileContainer.style.display = 'inline-block';

                    // Dosya adını içeren span elementi
                    const fileNameSpan = document.createElement('span');
                    fileNameSpan.textContent = file.name; // Dosya adını ekleyin
                    fileNameSpan.classList.add('text-white', 'd-block');
                    fileContainer.appendChild(fileNameSpan);

                    // Resimler
                    const img = document.createElement('img');
                    img.src = e.target.result;
                    img.style.maxWidth = '100px';
                    img.style.maxHeight = '100px';
                    img.className = 'img-fluid mb-2';
                    fileContainer.appendChild(img);

                    
                    // Dosya boyutunu içeren span elementi
                    const fileSizeSpan = document.createElement('span');
                    fileSizeSpan.textContent = `${(file.size / (1024 * 1024)).toFixed(2)} MB`; // Dosya boyutunu MB'ye dönüştürün
                    fileSizeSpan.classList.add('text-white', 'd-block');
                    fileContainer.appendChild(fileSizeSpan);

                    imagePreview.appendChild(fileContainer);
                };

                reader.readAsDataURL(file);
            });
        }

    </script>
}