
@{
    ViewData["Title"] = "Activation";
}


<div class="container col-lg-4 offset-lg-4 col-sm-12 " style="padding:20px; border-radius:10px; background-color:rgb(128, 208, 199); box-shadow:0 0 10px rgba(0, 0, 0, 0.1);">

    <div class="row">

        <h1 class="text-center text-white mb-5">@ViewBag.message</h1>

        <div class="w-50 mx-auto text-center">
            <a class="btn btn-outline-light" href="/Home" style="border-radius:20px;">Ana Sayfaya Dön</a>
        </div>
    </div>
</div>