@model ForgetPasswordViewModel

@{
    ViewData["Title"] = "ForgetPassword";
}

@if (ViewBag.success != null)
{
    <div class="container col-lg-4 offset-lg-4 col-sm-12">
        <partial name="_AlertSuccessPartial" model="ViewBag.success"></partial>
    </div>
}
else if (TempData["resetPasswordAlert"] != null)
{
    <div class="container col-lg-4 offset-lg-4 col-sm-12">
        <partial name="_AlertWarningPartial" model=@(TempData["resetPasswordAlert"]!.ToString())></partial>
    </div>
}


<div asp-validation-summary="ModelOnly" class="alert alert-danger col-lg-4 offset-lg-4 col-sm-12" style="" padding:20px; border-radius:10px;box-shadow:0 0 10px rgba(0, 0, 0, 0.1);"></div>


<div class="container col-lg-4 offset-lg-4 col-sm-12 " style="padding:20px; border-radius:10px; background-color:rgb(128, 208, 199); box-shadow:0 0 10px rgba(0, 0, 0, 0.1);">

    <div class="row">

        <h1 class="text-center text-white mb-4">Şifremi Unuttum</h1>

        <p class="text-white mb-4 fw-lighter">Sitemizin üyesiyseniz ve şifrenizi hatırlamıyorsanız üyeliğinizi oluştururken kullandığınız e-mail adresinizi aşağıdaki alana yazarak "Şifremi Gönder" butonuna tıklayınız. Şifreniz e-mail adresinize gönderilecektir.</p>

        <form method="post" class="col-12 custom-form contact-form">

            <div class="form-floating mb-2">
                <input class="form-control mb-0" placeholder="123" asp-for="Email" />
                <label class="form-label" asp-for="Email">Email</label>
                <span asp-validation-for="Email" class="text-danger p-2" style="font-weight:bold;"></span>
            </div>

            <div class="mb-3 w-50 mx-auto text-center">
                <button class="btn btn-outline-light w-100 mt-3" type="submit">Şifremi Gönder</button>
            </div>

        </form>

    </div>
</div>


@section Scripts{

    <partial name="_ValidationScriptsPartial"></partial>
}