@model ForgetPasswordViewModel

@{
    ViewData["Title"] = "ResetPassword";
}

<div asp-validation-summary="ModelOnly" class="alert alert-danger col-lg-4 offset-lg-4 col-sm-12" style="" padding:20px; border-radius:10px;box-shadow:0 0 10px rgba(0, 0, 0, 0.1);"></div>


<div class="container col-lg-4 offset-lg-4 col-sm-12 " style="padding:20px; border-radius:10px; background-color:rgb(128, 208, 199); box-shadow:0 0 10px rgba(0, 0, 0, 0.1);">

    <div class="row">

        <h1 class="text-center text-white mb-4">Şifremi Sıfırla</h1>

        <form method="post" class="col-12 custom-form contact-form">

            <div class="form-floating mb-2">
                <input class="form-control mb-0" placeholder="123" asp-for="Password" />
                <label class="form-label" asp-for="Password">Yeni Şifre</label>
                <span asp-validation-for="Password" class="text-danger p-2" style="font-weight:bold;"></span>
            </div>

            <div class="form-floating mb-2">
                <input class="form-control mb-0" placeholder="123" asp-for="PasswordConfirm" />
                <label class="form-label" asp-for="PasswordConfirm">Yeni Şifre Tekrar</label>
                <span asp-validation-for="PasswordConfirm" class="text-danger p-2" style="font-weight:bold;"></span>
            </div>

            <div class="mb-3 w-50 mx-auto text-center">
                <button class="btn btn-outline-light w-100 mt-3" type="submit">Şifre Sıfırla</button>
            </div>

        </form>

    </div>
</div>


@section Scripts{

    <partial name="_ValidationScriptsPartial"></partial>
}